html {
    font-size: 14px;
    background-color: #E7E8E7;
}

nav {
    background-color: #8C9825;
    padding: 10px;
}

ul {
    text-align: center;
}

a {
    text-decoration: none;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

li a {
    font-size: 1.4rem;
    color: #FFFFFF;
}

header > h1 {
    font-size: 2.2rem;
    color: #2C6FB1;
}